<mat-form-field class="table-filter">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Table filter">
</mat-form-field>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="text">
    <mat-header-cell *matHeaderCellDef>Text</mat-header-cell>
    <mat-cell *matCellDef="let note">{{note.text}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
    <mat-cell *matCellDef="let note">{{note.author}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="updated">
    <mat-header-cell *matHeaderCellDef>Updated</mat-header-cell>
    <mat-cell *matCellDef="let note">{{note.updated | date}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<br />

<mat-card>
  <mat-form-field>
    <input matInput placeholder="Text" [(ngModel)]="newNote.text">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Author" [(ngModel)]="newNote.author">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Updated" value="{{newNote.updated | date}}" readonly>
  </mat-form-field>
  <br/>
  <br/>

  <button mat-raised-button color="primary" [disabled]="newNote.text?.length == 0 || newNote.author?.length == 0" (click)="addNote();">ADD NOTE</button>
</mat-card>
