::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
}

mat-sidenav {
    padding: 16px;
}

mat-card {
    margin: 32px;
    width: 60%;
}

div.tab-content {
    margin-top: 10px;
}

div.progress-bar {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
}
