<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <span>Notes SPA</span>
  <span style="flex: 1 1 auto"></span>
</mat-toolbar>

<mat-sidenav-container class="mat-typography">
  <mat-sidenav #sidenav autoFocus=false fxLayout="column" fxLayoutAlign="start start" fixedInViewport fixedTopGap="64">
    <mat-nav-list>
      <a mat-list-item href="#">Einstellungen</a>
      <a mat-list-item href="#">Hallo</a>
      <a mat-list-item href="#">Welt</a>
    </mat-nav-list>
    <div fxFlex></div>
    <div class="mat-caption">
      <p>{{environmentName}}</p>
      <p>API Gateway URI: {{apiGatewayUri}} </p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" fxLayoutAlign="stretch center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Notes SPA</mat-card-title>
        <mat-card-subtitle>
          Sample Angular app
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Security">
            <ng-template mat-tab-label>
              <mat-icon>security</mat-icon>
            </ng-template>
            <div class="tab-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate.
              </p>
              <p>
                Etiam consequat aliquam cursus. In sodales pretium ultrices.
              </p>
            </div>
          </mat-tab>
          <mat-tab label="Attachment">
            <ng-template mat-tab-label>
              <mat-icon>attach_file</mat-icon>
            </ng-template>
            <div class="tab-content">
              <p>{{ environmentName }}</p>
              <p>API Gateway URI: {{ apiGatewayUri}} </p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-form-field style="width: 50%" hintLabel="Maximal 100 Zeichen">
        <mat-label>Beliebiger Text</mat-label>
        <input #input matInput maxlength="100" placeholder="Geben Sie einen beliebigen Text ein">
        <button mat-button *ngIf="input.value" matSuffix mat-icon-button (click)="input.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <br />
      <br />
      <mat-divider></mat-divider>
      <br />
      <br />
      <mat-form-field>
        <mat-select placeholder="Material Design Select" [(value)]="selectedValue">
          <mat-option value="Hallo">Hallo</mat-option>
          <mat-option value="Welt">Welt</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field appearance="fill">
        <mat-label>Ausgewählt</mat-label>
        <input matInput disabled [(ngModel)]="selectedValue">
        <mat-icon matSuffix>done</mat-icon>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br />
      <br />

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Persönliche Daten
            </mat-panel-title>
            <mat-panel-description>
              Bitte geben Sie Ihren Namen und Ihr Alter ein
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Alter">
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sich selbst kennendes Panel
            </mat-panel-title>
            <mat-panel-description>
              Aktuell bin ich {{panelOpenState ? 'geöffnet' : 'geschlossen'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Ich bin sichtbar, weil ich geöffnet bin</p>
        </mat-expansion-panel>
      </mat-accordion>

      <br />
      <mat-divider></mat-divider>
      <br />

      <mat-horizontal-stepper #stepper>
        <mat-step>
          <form>
            <ng-template matStepLabel>Bitte geben Sie Ihren Namen ein</ng-template>
            <mat-form-field>
              <input matInput placeholder="Nachname, Vorname" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperNext>WEITER</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel>Bitte geben Sie Ihre Adresse ein</ng-template>
            <mat-form-field>
              <input matInput placeholder="Addresse" required>
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperPrevious>ZURÜCK</button>
              <button mat-raised-button color="primary" matStepperNext>WEITER</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fertig</ng-template>
          Sie sind fertig
          <br />
          <br />
          <div>
            <button mat-raised-button matStepperPrevious>ZURÜCK</button>
            <button mat-raised-button (click)="stepper.reset()">VON VORNE</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>

    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="progress-bar" [hidden]="!isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
