<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Text">
</mat-form-field>
